<%= form_for(@personal_bank) do |f| %>
  <% if @personal_bank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@personal_bank.errors.count, "error") %> prohibited this personal_bank from being saved:</h2>

      <ul>
      <% @personal_bank.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label "From / To" %><br>
    <%= f.text_field :exhanges %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
